#list {
    list-style:none;
    text-align: left;
    width: 100%;
    color: white;
    background-color: black;
    li:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

#dropdown {
    width: 100px;
}

#dropdown>ul {
  list-style: none;
  color: white;
  display: none;
  position: absolute;
  left: 0;
  top: 20px;  
  color: black;
}

#dropdown:hover #dropList {
    display: block;
}