.navbar-inverse {
    background-color: #000000;
    font-weight: bold;
}

.navbar-nav  li  a, .navbar-brand {
    color: #FFFFFF !important;

    &:hover {
        opacity: 0.5;
    }
}

.current {
    opacity: 0.5;
}